.playerScoreBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  width: fit-content;
  height: fit-content;
}
.scoreChange {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.holeChange {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 60px;
  background-color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  align-items: center;
}

.playerName {
  font-weight: bold;
  margin: 5px;
}
.playerBoxesContainer {
  display: flex;
  flex-direction: row;
}
