a {
  text-decoration: none;
  color: black;
  &:active {
    color: bisque;
  }
}
.background {
  background-color: bisque;
  min-width: fit-content;
  overflow: scroll;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: bisque;
  width: 100%;
  margin-top: 60px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #7eb78a;
  width: 100%;
  font-size: 12px;
}

.navOptions {
  display: flex;
  flex-direction: row;
  margin: 0px;
  font-weight: bold;
  width: 100px;
}

.homeImg {
  margin-top: 7px;
  width: 30px;
  height: 30px;
}

.logo {
  align-items: left;
  justify-content: left;
}

.navLinks {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-left: -40px;
}
